<div class="container">
  <div class="nav-bar">
    <h2 class="space">Press SPACE to start game</h2>
    <h2 class="gamesCounter">games: 0</h2>
  </div>
  <div class="game-container">
    <div class="game">
<!--      [@move]="state" [@.disable]="stop"-->
      <div class="triangle-up" ><img class="triangle" src="assets/third-game/vecteezy_triangle(revert)1200602.png" alt=""></div>
      <div class="game-line"><img class="line" src="assets/third-game/pngwing.com.png" alt="line"> </div>
      <div class="triangle-down"><img class="triangle" src="assets/third-game/vecteezy_triangle_1200602.png" alt=""></div>
    </div>
  </div>
  <div class="results">
    <p>Your best result: <span class="best-result">0</span> ms</p>
    <p>Your last result: <span class="last-result">0</span> ms</p>
  </div>
</div>
