
<div class="start"><h2 class="game-text">Press Space to start the game!</h2></div>

<div class="container">
  <div class="game">
    <img src="assets/first-game/triangle.jpg" alt="" id="triangle" class="figure">
    <img src="assets/first-game/circle.jpg" alt="" id="circle" class="figure">
    <img src="assets/first-game/square.jpg" alt="" id="square" class="figure">
  </div>
</div>
<div class="results">
  <div class="best-result">Your best result: 0 ms</div>
  <div class="last-result">Your last result: 0 ms</div>
</div>
