<div id="start" [ngStyle]="{visibility: this.hideAndShowElements()}"><h2 class="game-text">Press Space to start the game!</h2></div>

<div class="container">
  <div class="game">
    <img src="assets/first-game/triangle.jpg" alt="" id="triangle" class="hidden" [ngStyle]="{display:'none'}">
    <img src="assets/first-game/circle.jpg" alt="" id="circle" class="hidden">
    <img src="assets/first-game/square.jpg" alt="" id="square" class="hidden" >
  </div>
</div>
<div id="results" [ngStyle]="{visibility: this.hideAndShowElements()}">
  <div class="best-result">Your best result: {{this.calculate()}} ms</div>
  <div class="last-result">Your last result: 0 ms</div>
</div>
